
.sc-container{
    margin: 0 auto;
    width: 1450px;
    padding: 0 20px;
    @media (max-width:1450px) {
        width: 100%;
    }
}
.mobile-block{
    display: none;
    @include responsive(md){
        display: block;
    }
}
.sc1 {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    span {
      font-size: 80px;
      font-weight: 800;
      color: #fff;
      display: block;
      text-align: center;
      white-space: nowrap;
      opacity: 0;
      filter: blur(10px);
      transform: scale(1.2);
      transition: all 1.2s ease-out;
      @media (max-width:1450px) {
        font-size: 60px;
      }
      @include responsive(md){
        font-size: 40px;
      }
      em{
        display: block;
        font-size: 60px;
        font-weight: 700;
        @media (max-width:1450px) {
            font-size: 40px;
            margin-top: 20px;
        }
        @include responsive(md){
            font-size: 30px;
        }
      }
      b, em {
        opacity: 0.85;
      }
      @include responsive(md){
        b{
            display: block;
        }
      }
      
    }
  }

  &.section-1, &.section-2 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    will-change: background-position, background-size;
  }

  &.section-1 {
    background-image: url('../images/main/main-visual-01.png');
  }
  &.section-2 {
    background-image: url('../images/main/main-visual-02.png');
    span{
        .text span {
            transform: scale(1.2) translateY(30px);
        }
    }
  }
}