@import '../utils/var';
@import '../utils/function';

.form-control{
    position: relative;
    border-radius: 0.6rem;
    border: 1px solid #c6c6c6;
    height: 3.2rem;
    padding: 0 1rem;
    background: #fff;
    color:#555555;
    @include responsive(md){
        font-size: 1.2rem;
    }
    &::placeholder{
        font-size: 1.2rem;
    }
    &.lg{
        height: 4.8rem;
        @include responsive(md){
            display: inline-block;
            height: 4rem;
            line-height: 4rem;
            padding: 0 .5rem;
            border-radius: 0.3rem;
            font-size: 1.2rem;
            &.round{
                border-radius: 2rem;
            }
        }
    }
    &.block{
        display: block;
        width: 100%;
    }
    &.search{
        border: 2px solid #774f3f;
        width: 61rem;
        border-radius: 2.8rem;
        height: 5.5rem;
        input{
            background: transparent;
        }
        .serch-btn{
            position: absolute;
            right: 2rem;
            width: 3rem;
            height: 3rem;
            background:url('../images/common/search-btn.png') no-repeat;
            border: none;
        }
    }
    &.disable{
        background: #d8d8d8;
        color:#9e9e9e;
    }
    .eye-btn{
        position: absolute;
        right: 1.2rem;
        width: 2.5rem;
        height: 2.1rem;
        background:url('../images/login/eye_on.png') no-repeat;
        background-position: 0 2px;
        &.active{
            background:url('../images/login/eye_close.png') no-repeat;
        }
    }
    &.flex-control{
        display: flex;
        align-items: center;
        padding: 0 6rem 0 1rem;
        input{
            border: none;
            height: calc(100% - 0.2rem);
            flex: 1;
        }
    }
}
.form-flex{
    display: flex;
    align-items: center;
    gap:0.6rem;
    .form-control{
        width: 50%;
    }
}

select{
    appearance:none;
    background:#fff url('../images/common/select-arrow.svg') no-repeat right 10px center !important;
}

.form-type{
    margin-bottom: 2rem;
    dt{
        position: relative;
        font-size: 1.7rem;
        margin-bottom: 1.1rem;
        @include responsive(md){
            font-size: 1.3rem;
        }
        span{
            display: inline-block;
            width: 0.8rem;
            height: 1.2rem;
            vertical-align: middle;
        }
    }
    dd{
        color:#1d1d1d;
        font-size: 1.5rem;
        @include responsive(md){
            font-size: 1.1rem;
        }
    }
}


.form-radio{
    display: inline-flex;
    align-items: center;
    position: relative;
    gap: 0 1rem;
    @include responsive(lg){
        gap: 0 0.7rem;
    }
    input{
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        opacity: 0.1;
    }
    i{
        display: inline-block;
        position: relative;
        border-radius: 50%;
        width: 2rem;height: 2rem;
        border: 1px solid #ddd;
        background: #fff;
        overflow: hidden;
        transition: all 0.25s;
        @include responsive(lg){
            width: 1.6rem;
            height: 1.6rem;
        }
        &::after{
            content:"";
            width: 0;
            height: 0;
            display: inline-block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            transition: all 0.25s;
            border-radius: 50%;
            background-color: #fff;
        }
    }
    span{
        color: #555555;
        font-size: 1.5rem;
        @include responsive(xl){
            font-size: clamp(1.3rem, 1.5vw, 1.7rem);
        }
        @include responsive(lg){
            font-size: clamp(1.4rem, 1.5vw, 1.5rem);
        }
    }
    input:checked + i{
        background-color: #774f3f;
        border-color: #774f3f;
        background-image:url("../images/ico/check.png");
        background-repeat: no-repeat;
        background-position: center;
    }
    input[type="checkbox"]{
        + i{
            border-radius: 0;
            border-radius: 0.3rem;
        }
        &:checked + i{
            &::after{
                border-radius: 0;
                border-radius: 0.3rem;
            }
        }
    }
    span span{
        color: #007ab4;
        font-size: 1.9rem;
        @include responsive(lg){
            font-size: 1.4rem;
        }
        @include responsive(md){
            font-size: 1.2rem;
        }
    }
}

.form-input{
    display: inline-block;
    border-radius: 1rem;
    border: 1px solid #8e8e8e;
    padding: 0 2rem;
    height: 6rem;
    width: 100%;
}

/* switch */
.sc-switch{
    display: none;
	height: 0 !important;
	width: 0 !important;
	visibility: hidden;
}

.sc-switch-label{
	cursor: pointer;
	text-indent: -9999px;
	width: 38px;
    height: 24px;
	background: #e0e0e0;
	display: block;
	border-radius: 100px;
	position: relative;
    transition: all ease 0.8s;
}

.sc-switch-label:after {
	content: '';
	position: absolute;
    top: 2px;
    left: 2px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #0071bb;
}

input:checked + label:after {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}

.sc-switch-label:active:after {
	width: 30px;
}

.form-textarea{
    display: inline-block;
    border-radius: 1rem;
    border: 1px solid #8e8e8e;
    padding: 2rem;
    overflow-y: auto;
    width: 100%;
    @include responsive(xl){
        padding: 1.5rem;
    }
    @include responsive(lg){
        font-size: 1.4rem;
    }
}

.form-control-dl{
    display: flex;
    align-items: center;
    gap: 1rem;
    dt{
        min-width: 7rem;
    }
    dd{
        position: relative;
        flex:1;
        width: 100%;
        input:disabled{
            background: #e4e4e4;
        }
        .form-text{
            font-size: 1.3rem;
            position: absolute;
            bottom: -2.2rem;
            left: 1rem;
            color:#d40000;

        }
    }
}

.dotted-box{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    border: 1px dashed  #8e8e8e;
    height: 15rem;
    background: #f0f0f0;
    border-radius: 1.2rem;
    &.h110{
        height: 11rem;
    }
}